/* Column Reader is a single division made up of a Back navigation element, a Page Frame element that contains the text, and an Ahead navigation element */

/* Sets postion of Column Reader on the page */

div#columnreader {
	margin: 55px auto 0px; }	

/* Sets the Page Frame */

div#pageframe { 
	overflow: auto; 
	float:left; }

/* Sets width and stylying of Back and Ahead navigation elements on either side of the Page Frame */ 

div#back, div#ahead {
	float:left;
	width: 70px;
	cursor:pointer;
	font-size: 40px; }

div#back span {
	float:left;
	margin-right: 10px; }
	
div#ahead span {
	float:right;
	margin-left: 10px; }	

span.step {
	color: #999; 
	}
span.step:hover {
	color: #000; 
	}
span.jump {
	color: #ddd; 
	}
span.jump:hover {
	color: #999; }